/* Author: David Schiliro */

html, body{
	background:url('background.png') repeat;
	height:100%;
	font-family: 'Vollkorn', serif;
}
.header{
	text-align:center;
	font-size:30px;
	color:#98C5AB;
	margin:0;
	margin-bottom:15px;
	padding:0;
	padding-bottom:5px;	
	width:50%;
	height:20%;
	float:left;
	background:#2F2F2F;
	border-radius:24px;
	text-shadow:10px 10px 10px #000000;
	box-shadow:10px 10px 10px #000000;
	font-family: 'Quicksand', sans-serif;
}

.headerline {
	background:#DC3D24;
	width:100%;
	height:10px;
	clear:both;
	
}
.tabs {
	padding:0px;
	text-align:center;
	list-style:none;
	line-height:30px;
	font-family: 'Quicksand', sans-serif;
}
.tabs li {
	margin:0;
	padding:0;
	display:inline-block;
	font-size:35px;
}
.tabs p{
	color:#2F2F2F;
}
.tabs a:link {
	text-decoration:none;
	color:#DC3D24;
}
.tabs a:visited {}
.tabs a:hover {
	text-decoration:none;
	color:#737373;
}
.tabs a:active {
	text-decoration:none;
	color:#737373;
}
.insidetab {
	background:#232B2B;
	color:#F6F6F6;
	text-align:center;
	width:75%;
	margin-right:auto;
	margin-top:20px;
	border-radius:24px;
	padding-bottom:10px;
}
.register {
	background:#232B2B;
	color:#F6F6F6;
	text-align:center;
	width:65%;
	padding-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	border-radius:24px;
}
.register table {
	width:90%;
	margin-left:auto;
	margin-right:auto;
	padding-top:20px;
	border-collapse:collapse;
}
.register td {
	border:1px solid white;
	
}
.register a:link {
	text-decoration:none;
	color:#DC3D24;
	font-size:18px;
	line-height:25px;
}
.register a:visited {}
.register a:hover {
	text-decoration:none;
	color:#737373;
}
.register a:active {
	text-decoration:none;
	color:#737373;
}
.collegereq {
	float:left;
	margin-top:20px;
	background:#232B2B;
	color:#F6F6F6;
	width:17%;
	min-height:100%;
	text-align:center;
	border-radius:24px;
	padding-bottom:10px;
}
.collegereq h4 {
	text-decoration:underline;
}
.collegereq a:link {
	text-decoration:none;
	color:#DC3D24;
	font-size:15px;
	line-height:25px;
}
.collegereq a:visited {}
.collegereq a:hover {
	text-decoration:none;
	color:#737373;
}
.collegereq a:active {
	text-decoration:none;
	color:#737373;
}

.pending {
	float:right;
	margin-top:20px;
	background:#232B2B;
	color:#F6F6F6;
	width:17%;
	height:100%;
	text-align:center;
	padding-right:1px;
	border-radius:24px;
	padding-bottom:10px;
}
.pending h3 {
	text-decoration:underline;
}

